<div [ngClass]="{'collapsed': isCollapsed}" class="sidebar">
    <button class="btn btn-toggle" (click)="toggleCollapse()">
      <i class="bi" [ngClass]="{'bi-chevron-right': !isCollapsed, 'bi-chevron-left': isCollapsed}"></i>
    </button>
    
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin/dashboard" routerLinkActive="active">
          <i class="fas fa-tachometer-alt"></i> 
          <span *ngIf="!isCollapsed">Dashboard</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin/user-management" routerLinkActive="active">
          <i class="fas fa-users"></i>
          <span *ngIf="!isCollapsed">User Management</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin/transaction" routerLinkActive="active">
          <i class="fas fa-money-check-alt"></i>
          <span *ngIf="!isCollapsed">Transaction History</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/dashboard/notifications" routerLinkActive="active">
          <i class="fas fa-bell"></i>
          <span *ngIf="!isCollapsed">Notifications</span>
        </a>
      </li>
      <li class="nav-item" style="margin-top: auto;">
        <a class="nav-link" routerLink="/admin/logout">
          <i class="fas fa-sign-out-alt"></i>
          <span *ngIf="!isCollapsed">Logout</span>
        </a>
      </li>
      
    </ul>
</div>
