<!-- Main Content Section -->
<div class="main-content">
  <!-- Dashboard Cards Section -->
  <div class="dashboard-cards">
    <div class="card">
      <h3>Total Linked Accounts</h3>
      <p>{{ totalUsers }}</p>
    </div>
    <div class="card">
      <h3>Active Accounts</h3>
      <p>{{ totalUsers}}</p>
    </div>
    <div class="card">
      <h3>Pending Transactions</h3>
      <p>{{ pendingTransactions }}</p>
    </div>
    <div class="card">
      <h3>Transaction Volume</h3>
      <p>{{totalTransactionAmount | currency }}</p>
      <canvas id="transactionChart" height="300"></canvas> <!-- Line chart for transaction volume -->
    </div>
    <div class="card">
      <h3>Customer Insights</h3>
      <canvas id="customerChart" height="300"></canvas> <!-- Line chart for customer growth -->
    </div>
  </div>
</div>
