<!-- Navbar Section -->
<nav class="navbar">
  <img src="assets/logo.png" alt="Bank-Xplore Logo" class="logo" style="height: 40px; width: 40px;"/>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <ul class="navbar-list">
    <li><a routerLink="/client/dashboard"><span class="material-icons">dashboard</span> Dashboard</a></li>
    <li><a routerLink="/client/accounts"><span class="material-icons">account_circle</span> Accounts</a></li>
    <li><a routerLink="/client/transactions"><span class="material-icons">attach_money</span> Transactions</a></li>
    <li><a routerLink="/client/notifications"><span class="material-icons">notifications</span> Notifications</a></li>
    <li><a routerLink="/client/logout"><span class="material-icons">logout</span> Logout</a></li>
  </ul>
</nav>
