/* Style for the navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 20px 20px;
}

.navbar .logo {
  height: 40px;
  width: 40px;
}

.navbar-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-list li {
  margin: 0 15px;
}

.navbar-list a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.navbar-list a:hover {
  color: #f1f1f1;
}

.material-icons {
  margin-right: 8px;
}
