h2 {
    text-align: center;
    margin-top: -550px;
   
 
  }
  
  .product-form {
    
    max-width: 1000px;
    margin-left:260px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin-bottom:50px;
  }
  
  label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="number"],
  input[type="date"],
  textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .calculator-section,
  .offers-section,
  .reviews-section,
  .faq-section {
    margin-top: 20px;
    border-top: 1px solid #ddd;
    padding-top: 10px;
  }
  