<nav class="navbar">
    <div class="logo">
        <img src="/assets/logo.png" alt="Bank-Xplore Logo" class="logo" />
    </div>
    <div class="nav-links">
        <a routerLink="/admin/dashboard">
            <i class="bi bi-house-door-fill"></i> Dashboard
        </a>
        <a routerLink="/admin/user-management">
            <i class="bi bi-person-fill"></i> User Managment
        
        </a>
        <a routerLink="/admin/transaction">
            <i class="bi bi-receipt-cutoff"></i> Transactions
        </a>
        <a routerLink="/notifications">
            <i class="bi bi-bell-fill"></i> Notifications
        </a>
    </div>
</nav>
